@model ChangePassword;
<div id="wrap">
	<section class="bodymain" style="min-height:580px;">
		<aside class="middle-container">
			<div class="admin-inr">
				<br>

				<div class="form-outer" style="margin-left:320px; width:500px;">
					<h1>Change Password</h1>
					<form asp-action="ChangePassword" asp-controller="Login" method="post">
						<div class="contact-row form-group">
						<div class="name">Current Password</div>
							<div class="txtfld-box">
							<input asp-for="oldPassword" type="password" class="form-control">
							
						</div>
							<span asp-validation-for="oldPassword"></span>
					</div>
					<div class="clear"></div>
						<div class="contact-row form-group">
						<div class="name">New Password</div>
						<div class="txtfld-box">
							<input asp-for="NewPassword" class="form-control"  type="password">
							
						</div>
							<span asp-validation-for="NewPassword"></span>
					</div>
					<div class="clear"></div>
						<div class="contact-row form-group">
						<div class="name">Confirm Password</div>
						<div class="txtfld-box">
								<input asp-for="ConfirmPassword" type="password" class="form-control">
							
						</div>
							<span asp-validation-for="ConfirmPassword"></span>
					</div>
					<div class="clear">&nbsp;</div>
					<span>@ViewBag.Pass</span>
					<div class="contact-row">
						<div class="name" style="float:right; width:1px;">&nbsp;</div>
						<div style="background:none; border:none; float:left;">
							<input type="submit" class="btn" value="Change Password">
							<br>
						</div>
					</div>
					</form>
				</div>
				<div class="clear">&nbsp;</div>

				<div class="clear"></div>
			</div>
		</aside>
		<div class="clear"></div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</section>
</div>
